# Titulo1
## Titulo 2  
###### Titulo 6  
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

```javascript
    var s =" JavaScript syntax highlighting";
    alert(s);
    ```
    
  ```python
    s = "Python syntax highlighting"
    print s
     ```

In [1]:
print("hola mundo")

hola mundo

In [1]:
# No tipado!
# Variables Primitivas
entero = 4
decimales = 1.1
nombre = "Vicente"
segundo_nombre = "Adrian" # segundoNombre X -> MAL
apellido = 'Eguez'
casado = False
profesor = True
hijos = None
print(type(entero)) # int
print(type(decimales)) # float
print(type(nombre)) # str
print(type(segundo_nombre)) # str
print(type(apellido)) # str
print(type(casado)) # bool
print(type(profesor)) # bool
print(type(hijos)) # NoneType
print(type(float('nan'))) # float Not A Number nan

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'float'>

In [1]:
cadena_de_texto = """
Here's a line for us to start with.

This line is separated from the one above by two newlines, so it will be a separate paragraph.

This line is also begins a separate paragraph, but...
This line is only separated by a single newline, so it's a separate line in the same paragraph.

(Technical note: Markdown Here uses GFM line breaks, so there's no need to use MD's two-space line breaks.)

"""
print(cadena_de_texto)

Here's a line for us to start with.

This line is separated from the one above by two newlines, so it will be a separate paragraph.

This line is also begins a separate paragraph, but...
This line is only separated by a single newline, so it's a separate line in the same paragraph.

(Technical note: Markdown Here uses GFM line breaks, so there's no need to use MD's two-space line breaks.)

In [ ]:
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)
# CAPA 8 !!

In [4]:
# Condiciones
# Truty - Falsy
tuplas = (1,2,3) # Arreglos que no se pueden modificar
listas = [4,5,6] # Arreglos que se pueden modificar
diccionario = {
    "nombre":"Adrian"
}
nombre = 'Adrian'
if(nombre): # Truty
    # ...
    # ...
    print('Truty')
else:
    # ...
    # ...
    print('Falsy')
    
if(''): # Falsy
    print('Truty')
else:
    print('Falsy')
    nulo = None
if(nulo): # Falsy
    print('Truty')
else:
    print('Falsy')

if(1): # Truty
    print('Truty')
else:
    print('Falsy')
    
if(0): # Falsy
    print('Truty')
else:
    print('Falsy')
    
if(-1): # Truty
    print('Truty')
else:
    print('Falsy')
    
    
if(-1.1): # Truty
    print('Truty')
else:
    print('Falsy')
if(1.2): # Truty
    print('Truty')
else:
    print('Falsy')
    
if(0.0): # Falsy
    print('Truty')
else:
    print('Falsy')
    
    
    
if(()): # Falsy
    print('Truty')
else:
    print('Falsy')
    
if((1,2,3)): # Truty
    print('Truty')
else:
    print('Falsy')
    
if([]): # Falsy
    print('Truty')
else:
    print('Falsy')
    
if([1,2,3]): # Truty
    print('Truty')
else:
    print('Falsy')

if({}): # Falsy
    print('Truty')
else:
    print('Falsy')
    
nombre = "nombre"
if({nombre: "Adrian"}): # Truty
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
Falsy
Truty
Falsy
Truty
Truty
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [2]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
arreglo[0:3] # [0,3[
arreglo[5:] # Hasta el final
arreglo[:7] # Desde el principio
arreglo[-10] # Indice negativo empieza FINAL
arreglo[3:-2] 
arreglo[-8:8] 
arreglo[-4:-1] 
arreglo[-7:]
arreglo[:-3]
arreglo[:]

arregloTupla = (1,2,3,4,5,6,7,8,9,10)
arregloTupla[5:9]

(6, 7, 8, 9)

In [6]:

diccionario = {
    "nombre": "Adrian",
    "apellido": "Eguez",
    "sueldo": 1.2
}
print(diccionario["apellido"])

print(type(diccionario)) # str

Eguez
<class 'dict'>

In [ ]:
10 in arregloTupla

In [4]:
print(type(12 in arreglo))

<class 'bool'>

In [7]:
len(arreglo)
len(arregloTupla)
len(diccionario)

3

In [9]:
"Adrian" in diccionario # Para diccionarios 
                        # Se debe trabajar con
                        # las "Llaves" - "keys"

False

In [10]:
# arregloTupla[0] = 2
arreglo[0] = 2

In [ ]:
# arreglo.pop
# arreglo.append
# arreglo.insert

In [11]:
for numeroLista in arregloTupla:
    print(numeroLista)

1
2
3
4
5
6
7
8
9
10

In [12]:
for key in diccionario:
    print(key)

nombre
apellido
sueldo

In [ ]:
contador = 0
while contador < 10:
    print(contador)
    contador+= 1

In [13]:
Gaby = {
    True: "Gabriela",
    False: "Ramos",
    1: 12.2,
    1.1: 89,
    'edad': 31,
    "mascotas": [{"nombre":"cachetes"}],
    None: None
}

In [19]:
Gaby[1.1]

89

In [20]:
Gaby["edad"]=25

In [21]:
Gaby["apellido"]="Perez"

In [22]:
Gaby

{True: 12.2,
 False: 'Ramos',
 1.1: 89,
 'edad': 25,
 'mascotas': [{'nombre': 'cachetes'}],
 None: None,
 'apellido': 'Perez'}

In [23]:
Gaby["mascotas"][0]

{'nombre': 'cachetes'}

In [24]:
Gaby["mascotas"][0]["nombre"]="panda"

In [25]:
Gaby

{True: 12.2,
 False: 'Ramos',
 1.1: 89,
 'edad': 25,
 'mascotas': [{'nombre': 'panda'}],
 None: None,
 'apellido': 'Perez'}

In [27]:
Gaby.keys()

dict_keys([True, False, 1.1, 'edad', 'mascotas', None, 'apellido'])

In [28]:
Gaby.values()

dict_values([12.2, 'Ramos', 89, 25, [{'nombre': 'panda'}], None, 'Perez'])

In [29]:
print(type(Gaby.keys()))

<class 'dict_keys'>

In [31]:
 for llave in Gaby.keys():
    print(llave)

True
False
1.1
edad
mascotas
None
apellido

In [32]:
for valor in Gaby.values():
    print(valor)

12.2
Ramos
89
25
[{'nombre': 'panda'}]
None
Perez

In [33]:
1 == 1 or 2 == 2
1 != 1 and 2 != 2

False